<div class="row">
    <div class="col-12">
      <h2>Find Your Best Food</h2>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ad.<hr>
        </div>
        <div class="col-md-4">
          Accusamus numquam enim, voluptatum eligendi dolorum earum excepturi aliquam eius.<hr>
        </div>
        <div class="col-md-4">
          Officiis amet quibusdam provident ullam praesentium atque quaerat qui nisi.<hr>
        </div>
        <div class="col-md-4">
          Maxime accusantium, debitis nisi aliquid ratione animi unde ad. Tempore.<hr>
        </div>
        <div class="col-md-4">
          Ratione dolorum accusantium nisi aut aperiam, dolor dolorem ullam assumenda.<hr>
        </div>
        <div class="col-md-4">
          Harum, ut. Numquam ad id distinctio, tenetur porro omnis fugit.<hr>
        </div>
      </div>
    </div>
  </div>
